.TabelaCEP{
    border: 5px solid #545454;

    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-top: 50px;
    margin-right: 550px;
    margin-left: 550px;


    padding: 10px;
}

tr, td{
    border: 1px solid #545454;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.corpoTabela{
    border: 2px solid #545454;

    
}

.input-cep{
    margin: 5px;
}

.divEnviar-cep{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1_Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}